/* You can add global styles to this file, and also import other style files */

@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

html, body { height: 100%; width: 100%;}
body { margin: 0; padding: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.snack-success {
    background: rgb(10, 180, 10) !important;
    color: rgb(245, 240, 240) !important;  
}

.snack-error {
    background: rgb(222, 23, 23) !important;
    color: rgb(245, 240, 240) !important;   
} 